@import "tailwindcss"; 
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Montserrat:wght@400;600&display=swap'); 

body { 
  font-family: 'Outfit', sans-serif; 
  font-family: 'Montserrat', sans-serif; 
} 

/* Reset ALL anchors globally */ 
a { 
  @apply no-underline; /* Tailwind way */ 
  text-decoration: none !important; /* fallback */ 
  color: inherit; 
}